<form method="POST" action="/courses/handle-form-actions" class="mt-4" name="form-handle-action">
	<div>
		<h3>Khóa học của tôi</h3>
		<a href="/me/trash/courses">Thùng rác ({{deletedCourses}})</a>

		<div class="mt-4 d-flex align-items-center">
			<div class="form-check">
				<input class="form-check-input" type="checkbox" value="" id="chb-all">
				<label class="form-check-label" for="chb-all">
					Chọn tất cả
				</label>
			</div>

			<select id="chb-select-all-option" class="form-control form-control-sm" name="action" required>
				<option value="" selected>-- Chọn hành động --</option>
				<option value="delete">Xóa</option>
			</select>

			<button class="btn btn-primary btn-execute" disabled>Thực hiện</button>
		</div>
	</div>
	
	<table class="table mt-4">
		<thead>
			<tr>
				<th></th>
				<th scope="col">#</th>
				<th scope="col">
					Tên khóa học
					{{{sortable 'name' _sort}}}
				</th>
				<th scope="col">
					Thời gian tạo
					{{{sortable 'createdAt' _sort}}}	
				</th>
				<th scope="col" colspan="3">
					Thời gian chỉnh sửa
					{{{sortable 'updatedAt' _sort}}}	
				</th>
			</tr>
		</thead>
		<tbody>
			{{#each courses}}
			<tr>
				<td>
					<div class="form-check">
						<input class="form-check-input chb-all-item" type="checkbox" name="courseIds[]" value="{{this._id}}">
					</div>
				</td>
				<th scope="row">{{sum @index 1}}</th>
				<td>{{this.name}}</td>
				<td>{{this.createdAt}}</td>
				<td>{{this.updatedAt}}</td>
				<td>
					<a href="/courses/{{this._id}}/edit" class="btn btn-link">Sửa</a>
				</td>
				<td>
					<a href="" class="btn btn-link" data-toggle="modal" data-target="#delete-course-modal" data-id="{{this._id}}">Xóa</a>
				</td>
			</tr>
			{{else}}
			<tr>
				<td colspan="5" class="text-center">
					Bạn chưa đăng khóa học nào.
					<a href="/courses/create">Đăng khóa học</a>
				</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
</form>

<form id="delete-course-form" method="POST"></form>

{{!-- Delete course modal --}}
<div id="delete-course-modal" class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Xóa khóa học?</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>Bạn chắc chắn muốn xóa khóa học này?</p>
			</div>
			<div class="modal-footer">
				<button id="delete-course-btn" type="button" class="btn btn-danger">Xóa bỏ</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
			</div>
		</div>
	</div>
</div>

<script>
	document.addEventListener('DOMContentLoaded', () => {
		let courseId
		const btnDeleteCourse = document.getElementById('delete-course-btn')
		const deleteCourseForm = document.forms['delete-course-form']
		const handleActionForm = document.forms['form-handle-action']
		const chbAll = $('#chb-all')
		const chbAllItems = $('.chb-all-item')
		const btnExc = $('.btn-execute')
		
		$('#delete-course-modal').on('show.bs.modal', function (event) {
			const button = $(event.relatedTarget)
			courseId = button.data('id')
		})

		btnDeleteCourse.onclick = () => {
			deleteCourseForm.action = `/courses/${courseId}?_method=DELETE`
			deleteCourseForm.submit()
		}

		chbAll.change(function() {
			let isCheckedAll = $(this).prop('checked')

			chbAllItems.prop('checked', isCheckedAll)
			renderExcBtn()
		})

		chbAllItems.change(function() {
			let isCheckedAll =
			chbAllItems.length === $('input[name="courseIds[]"]:checked').length

			chbAll.prop('checked', isCheckedAll)
			renderExcBtn()
		})

		function renderExcBtn() {
			let checkedCount = $('input[name="courseIds[]"]:checked').length

			checkedCount > 0 ? btnExc.attr('disabled', false) : btnExc.attr('disabled', true)
		}
	})
</script>